bin/
obj/

*.user
*.userosscache
*.suo
*.userprefs

.vscode/
.idea/
.vs/

*.log
*.tmp
*.temp
*.cache

packages/
node_modules/

*.dll
*.exe
*.pdb
*.mdb
*.app
*.apk
*.ipa
*.so

.publish/
app_packages/

*.crash
*.swp
*.lock

**/*.ds_store
**/*.Thumbs.db
.DS_Store
Thumbs.db

*.xcuserstate
*.xcworkspace/
*.xcuserdata/
