bin/
obj/

*.user
*.userosscache
*.suo
*.userprefs

.vscode/
.idea/
.vs/

*.log
*.tmp
*.temp
*.cache

packages/
node_modules/

*.dll
*.exe
*.pdb
*.mdb
*.app
*.apk
*.ipa
*.so

.publish/
app_packages/

*.crash
*.swp
*.lock

**/*.ds_store
**/*.Thumbs.db
.DS_Store
Thumbs.db

*.xcuserstate
*.xcworkspace/
*.xcuserdata/


.gradle/
local.properties
.android/
.idea/
build/

build/
*.pbxuser
*.mode1v3
*.mode2v3
*.xcworkspace
*.xcodeproj/project.xcworkspace

Debug/
Release/

